In [1]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\GWAFA\Desktop\tested.csv")

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
df.shape

(418, 12)

In [6]:
df.size

5016

In [8]:
df.memory_usage()

Index           128
PassengerId    3344
Survived       3344
Pclass         3344
Name           3344
Sex            3344
Age            3344
SibSp          3344
Parch          3344
Ticket         3344
Fare           3344
Cabin          3344
Embarked       3344
dtype: int64

In [9]:
df.memory_usage(deep=True)

Index            128
PassengerId     3344
Survived        3344
Pclass          3344
Name           35314
Sex            25802
Age             3344
SibSp           3344
Parch           3344
Ticket         26700
Fare            3344
Cabin          16022
Embarked       24244
dtype: int64